/*var*/
:root {
    --accent_color: #4e00a2;
    --accent_color_deact: rgba(28, 114, 226, 0.226);
    --background_color: #dbddef;
    --warn_color: #ff3c3c;
    --popup_color: #f5f6ff;
    --input_background: #F4F4F4;
    --input_background_deact: #f4f4f470;
}

/*styles*/
* {
    font-family: 'Carter One', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    border-radius: 6px;
    user-select: none;
}

/*body framework*/
body {
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#outercontainer {
    background-color: var(--background_color);
    min-height: 98%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/background.png");

}

#innercontainer {
    overflow: auto;
}

#contentdiv {
    display: grid;
    justify-content: center;
}

header {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 30px;
    margin-top: -40px;
    border-radius: 0;
    background-color: white;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    clear: both;
    padding: 20px;
}

.footer_text {
    font-size: 160%;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    transition: box-shadow 0.3s;
}

.footer_text:hover {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}




/*classes & goups*/
.error_messages {
    color: var(--warn_color);
}
#forms_div{
    display: flex;
    flex-wrap: wrap;

}

.formdiv {
    background-color: white;
    margin: 10px;
    padding: 60px 50px;
    border: none;
    padding-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.formtitle {
    text-shadow: 2px 2px 1px var(--accent_color), -2px 2px 1px var(--accent_color), 2px -2px 1px var(--accent_color), -2px -2px 1px var(--accent_color), 0px 2px 1px var(--accent_color), 0px -2px 1px var(--accent_color), 0px 4px 1px var(--accent_color), 2px 4px 1px var(--accent_color), -2px 4px 1px var(--accent_color);
    margin: 2px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 300%
}


#formSubmit{
    width: 94%;
}
#formSubmit2{
    width: 94%;
}
input {
    font-size: 200%;
    padding: 15px;
    background-color: var(--input_background);
    border: none;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0px -2px 2px #4e00a236;
    user-select: None;
    transition: box-shadow 0.3s;
}

input:focus {
    outline: none;
    box-shadow: inset 0px -3px 2px #4e00a236;
}

.input_deact {
    background-color: var(--input_background_deact);
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.022)
}

.input_deact::placeholder {
    color: rgba(0, 0, 0, 0.123);
}


/*fance buttons*/
.game-button {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 230%;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #4e00a2, -2px 2px 1px #4e00a2, 2px -2px 1px #4e00a2, -2px -2px 1px #4e00a2, 0px 2px 1px #4e00a2, 0px -2px 1px #4e00a2, 0px 4px 1px #6f00a2, 2px 4px 1px #6f00a2, -2px 4px 1px #6f00a2;
    border: none;
    margin: 15px 15px 30px;
    background: repeating-linear-gradient(45deg, #aa3ef7, #aa3ef7 5px, #aa3ef7 5px, #aa3ef7 10px);
    border-bottom: 3px solid rgba(59, 16, 146, 0.5);
    border-top: 3px solid rgba(255, 255, 255, .3);
    color: #fff !important;
    border-radius: 8px;
    padding: 8px 15px 10px;
    box-shadow: 0 6px 0 #3f2691, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #40127d, 0 12px 0 5px #781a9a, 0 15px 0 5px #300c5e, 0 15px 1px 6px rgba(0, 0, 0, .3);
}

.game-button:active {
    top: 2px;
    box-shadow: 0 4px 0 #2a2691, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #40127d, 0 10px 0 5px #451a9a, 0 13px 0 5px #1f0c5e, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.game-button::before {
    content: '';
    height: 10%;
    position: absolute;
    width: 40%;
    background: #fff;
    right: 13%;
    top: -3%;
    border-radius: 99px;
}

.game-button::after {
    content: '';
    height: 10%;
    position: absolute;
    width: 5%;
    background: #fff;
    right: 5%;
    top: -3%;
    border-radius: 99px;
}

.game-button.blue {
    background: repeating-linear-gradient(45deg, #3ebbf7, #3ebbf7 5px, #45b1f4 5px, #45b1f4 10px);
    box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(16, 91, 146, 0.5);
    text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
}

.game-button.blue:active {
    top: 2px;
    box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.game-button.red {
    background: repeating-linear-gradient(45deg, #ff4f4c, #ff4f4c 5px, #ff4643 5px, #ff4643 10px);
    box-shadow: 0 6px 0 #ae2725, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #831614, 0 12px 0 5px #a33634, 0 15px 0 5px #631716, 0 15px 1px 6px rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(160, 25, 23, 0.5);
    text-shadow: 2px 2px 1px #d72d21, -2px 2px 1px #d72d21, 2px -2px 1px #d72d21, -2px -2px 1px #d72d21, 0px 2px 1px #d72d21, 0px -2px 1px #d72d21, 0px 4px 1px #930704, 2px 4px 1px #930704, -2px 4px 1px #930704;
}

.game-button.red:active {
    top: 2px;
    box-shadow: 0 4px 0 #ae2725, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #831614, 0 10px 0 5px #a33634, 0 13px 0 5px #631716, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.game-button.green {
    background: repeating-linear-gradient(45deg, #54d440, #54d440 5px, #52cc3f 5px, #52cc3f 10px);
    box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16, 0 15px 1px 6px rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(40, 117, 29, 0.5);
    text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
}

.game-button.green:active {
    top: 2px;
    box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0, 0, 0, .3), 0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16, 0 13px 1px 6px rgba(0, 0, 0, .3);
}

.game-button.deact {
    background: repeating-linear-gradient(45deg, #c2c2c2, #c2c2c2 5px, #c2c2c2 5px, #c2c2c2 10px);
    box-shadow: 0 6px 0 #727272, 0 8px 1px 1px rgba(0, 0, 0, .3), 0 10px 0 5px #606060, 0 12px 0 5px #7f7f7f, 0 15px 0 5px #464646, 0 15px 1px 6px rgba(0, 0, 0, .3);
    border-bottom: 3px solid rgba(108, 108, 108, 0.5);
    text-shadow: 2px 2px 1px #707070, -2px 2px 1px #818181, 2px -2px 1px #c2c2c2, -2px -2px 1px #c2c2c2, 0px 2px 1px #c2c2c2, 0px -2px 1px #c2c2c2, 0px 4px 1px #c2c2c2, 2px 4px 1px #c2c2c2, -2px 4px 1px #c2c2c2;
}

.game-button.deact:active {
    top: 0px;
}

.game-button.icon{
    width: 80px;
    height: 80px;
}


/*individual adjustments*/
#error_message_guest {
    width: 94%;
    text-align: center;
}


#header-logo {
    margin: 0;
    cursor: pointer;
    height: 80px;
    width: auto;
}

#coming-soon-overlay-text {
    font-size: 180%;
    color: green;
    padding: 250px 100px;
    position: absolute;
    z-index: 10000;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#submitLogin {
    background-color: var(--accent_color_deact);
}

#error_message {
    margin: 10px;
    color: var(--warn_color);
}

#cookiePopup {
    font-size: 140%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--popup_color);
    padding: 20px;
    text-align: center;
    z-index: 1000;
    display: none;
}

#cookiePopup button {
    font-size: 130%;
    margin-left: 30px ;
}

#logoutButton {
    border: none;
    background: none;
    margin-right: 10px;
}

#canvas {
    margin-bottom: 10px;
}

#gameover {
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    color: white;
}

#hearts {
    position: absolute;
    top: 12px;
    right: 65px;
    font-size: 250%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#heartsIcon {
    position: absolute;
    font-size: 250%;
    top: 16px;
    right: 20px;
    color: #ff3c3c;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#coins {
    position: absolute;
    top: 12px;
    right: 181px;
    font-size: 250%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#coinsIcon {
    position: absolute;
    font-size: 250%;
    top: 16px;
    right: 128px;
    color: gold;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#lobby_header { 
    text-shadow: 2px 2px 1px var(--accent_color), -2px 2px 1px var(--accent_color), 2px -2px 1px var(--accent_color), -2px -2px 1px var(--accent_color), 0px 2px 1px var(--accent_color), 0px -2px 1px var(--accent_color), 0px 4px 1px var(--accent_color), 2px 4px 1px var(--accent_color), -2px 4px 1px var(--accent_color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#leaderbord_header { 
    text-shadow: 2px 2px 1px var(--accent_color), -2px 2px 1px var(--accent_color), 2px -2px 1px var(--accent_color), -2px -2px 1px var(--accent_color), 0px 2px 1px var(--accent_color), 0px -2px 1px var(--accent_color), 0px 4px 1px var(--accent_color), 2px 4px 1px var(--accent_color), -2px 4px 1px var(--accent_color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 200%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.leaderboardcolumn{
    display: flex;
    justify-content: space-between;
    background-color: #aa3ef7;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0px 8px 0px 5px var(--accent_color);
    font-size: 130%;
}
#leaderboard{
 margin: 3rem;
 margin-bottom: 5rem;
}

#mapChoose {
    display: flex;
    margin-bottom: 20px;
}

#left{
    margin-top: 200px;
    height: 80px;
    width: 80px;
}

#right{
    
    margin-top: 200px;
    height: 80px;
    width: 80px;
}

#playButton{
    padding-left: 80px;
    padding-right: 80px;
}

#playbuttonDiv{
    display: flex;
    justify-content: center;
}

#towerCooser{
    margin-left: 15px;
    width: 305px;
    display: flex;
    justify-content: space-around;
    background-color: #aa3ef7;
    flex-wrap: wrap;
}

.towerCooserTower{
    background-color: #842fc0 ;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
}